@font-face {
    font-family: Montserrat-Light;
    src: url(../webfonts/Montserrat-Light.ttf);
}

*
{
    font-family: Montserrat-Light;
}

.center-div
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}