*
{
    color: #F6F1F1;
}

body
{
    margin: 0px;
}

.bg-img-cont
{
    top: 0px;
    z-index: -10;
    position: fixed;
}

.bg-img
{
    top: 0px;
    position: fixed;
    margin: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-img-cover
{
    top: 0px;
    position: fixed;
    background-color: rgba(1, 0, 55, 0.45);
    height: 100%;
    width: 100%;
}

.pg-title
{
    text-align: center;
    font-size: 48px;
}

.center-cont
{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p
{
    font-size: 21px;
}

.sol-title
{
    text-transform: uppercase;
    font-size: 39px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.sol-customer
{
    font-size: 26px;
    color: #E7DCC6;
    margin-top: 0px;
    margin-bottom: 8px;
}

.proj-desc
{
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 10px;
}
